* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

header {
  background: #0f172a;
  padding: 15px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: #e5e7eb;
  text-decoration: none;
}

nav ul li a:hover {
  color: #38bdf8;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 80px 40px;
}

.center {
  text-align: center;
}

h2 span {
  color: #38bdf8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.social a {
  margin-right: 15px;
  text-decoration: none;
  color: #0f172a;
}

.social a:hover {
  color: #38bdf8;
}

.footer {
  background-color: #0f172a;
  color: #e5e7eb;
  padding: 40px 20px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-about h3,
.footer-social h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-about p {
  max-width: 350px;
  line-height: 1.6;
  color: #cbd5f5;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #38bdf8;
}

.skills-section {
  padding: 60px 20px;
  text-align: center;
  background: #f9f9f9;
}

.skills-section h2 {
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.skill-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.projects-section {
  padding: 60px 20px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.cta-section {
  padding: 70px 20px;
  text-align: center;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: #fff;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #fff;
  color: #007bff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #1e293b;
  font-size: 14px;
  color: #94a3b8;
}

img{
  width: 250px;
  height: 200px;
}
